.main{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
#paybtn{
    width:fit-content;
    padding: 10px 20px;
    cursor: pointer;
    color: black;
    background-color: none;
    border: 1px solid black ;
}
#paybtn:hover{
    color: white;
    background-color: rgb(134, 5, 255);
    border: none;
}
.pay{
    margin: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.mes{
    margin: 200px;
}
.sendpaybtn{
    cursor: pointer;
    background-color: blueviolet;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sendpaybtn:hover{
    background-color: rgb(74, 0, 142);
    transition: all 0.2s ease-in-out;
}



/*Success css*/
.successpage{
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 100px;
    flex-direction: column;
}