.profilepage{
    margin: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.submitbtn{
    width: auto;
}
.profilepic{
    cursor: pointer;
    border:2px solid rgb(44, 44, 44);
}
.updateprofilepic{
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
}
#file{
    display: none;
}
.mb-3{
    width:525px;
}
#filled-required{
    width:500px ;
}